@use "sass:map";
@use "./../../abstracts/mixins" as mixin;
@use "./../../abstracts/variables" as vars;

.main-nav {
  display: none;

  @include mixin.breakpoint('lg') {
    display: block;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: map.get(vars.$spacing, "700");
    padding: 0;
    padding-block: var(--_nav-padding-block);
    margin: 0;
  }

  &__item:has(.main-nav__logo) {
    margin-right: auto;
  }

  &__item:has(.main-nav__spacetime) {
    margin-left: auto;
  }

  &__link {
    text-decoration: none;

    &[aria-current] {
      color: var(--color-primary-600);
    }
  }
}

body {
  height: 300vh;
}